
@import "varColores";
body{
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

@mixin reset-list {
    margin: 0px;
    padding: 0;
    list-style: none;
  }


@mixin r-flex-center{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@mixin pc{
  @media screen and (min-width: 768px){
    @content;
  }    
}

@mixin mobile{
  @media screen and (max-width: 768px){
    @content;
  }    
}

