@import "base";
@import "varColores";

nav{
    li{
        a{
            color: white!important;
            }
        a:hover{
            color: orange!important;
        }
    }
}   
header {
    font-family: $fontPpal;
    position: relative;
    background-image: url("../img/barsepia3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 435px;
    --bs-gutter-x:0!important;
    .headerPpal{
        position: absolute;
        background-color: rgb(0 0 0 / 70%);
        width: 100%;
        height: 100%;
            nav{
                position: sticky;
                padding-top: 10px;
                ul{
                    @include reset-list;
                    @include r-flex-center;
                    li{
                        font-weight: bold;
                    }
                        a{
                            text-decoration: none;
                            color: $colorTexto;    
                        }
                        a:hover {
                            color: $colorPrimario;
                        }
                }
            }
            .textoHeader{
                @include r-flex-center;
                padding-top: 130px;
                color: $colorTexto;
            }
      }

}