<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HappyBeer! Choperas Artesanales</title>
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap" rel="stylesheet">
    <!-- BS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <!-- Hoja de estilo -->
	<link rel="stylesheet" href="../css/style.css">
</head>
<body>
        <!--nav -->
        <nav class="navbar navbar-expand-lg navbar-light bg-black fixed-top opacity-75">
            <div class="container-fluid">
                <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex justify-content-around">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../views/choperas.html">Choperas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../views/bar.html">Bares</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../views/contacto.html">Contacto</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header -->
        <header class="container-fluid">
                            
                <div class="headerPpal ">

                    <div class="container-fluid textoHeader">
                        <div class="row">
                            <div class="col-12 col-xl-12">
                                <h1>HappyBeer! Choperas Artesanales</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

    <!--Main-->
    <main class="mainNosotros mt-4 mb-4">
        <div class="container-fluid">
            <div class="row mb-5">
                <H2>Team HappyBeer!</H2>
            </div>
            <div class="row">
                <div class="col-12 col-xl-4">
                    <div class="imgNosotros">
                        <img src="../img/foto1.jpg" alt="Imagen CEO">
                    </div>
                    <h5>Max Power CEO</h5>
                </div>
                <div class="col-12 col-xl-4">
                    <div class="imgNosotros">
                        <img src="../img/foto2.jpg" alt="Imagen CEO">
                    </div>
                    <h5>Tito Puentes CTO</h5>
                </div>
                <div class="col-12 col-xl-4">
                    <div class="imgNosotros">
                        <img src="../img/foto3.jpg" alt="Imagen CEO">
                    </div>
                    <h5>Karla Lopez CFO</h5>
                </div>
            </div>
            <div class="row mt-4">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta quidem provident aut fugiat ut et hic architecto quisquam, unde placeat, dolor magnam vel incidunt perferendis, voluptatibus corporis quibusdam molestias aliquid.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta quidem provident aut fugiat ut et hic architecto quisquam, unde placeat, dolor magnam vel incidunt perferendis, voluptatibus corporis quibusdam molestias aliquid.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta quidem provident aut fugiat ut et hic architecto quisquam, unde placeat, dolor magnam vel incidunt perferendis, voluptatibus corporis quibusdam molestias aliquid.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta quidem provident aut fugiat ut et hic architecto quisquam, unde placeat, dolor magnam vel incidunt perferendis, voluptatibus corporis quibusdam molestias aliquid.
                </p>
            </div>
        </div>
    </main>

     <!-- Footer -->
     <footer>
        <div class="container-fluid">
            <div class="row footerPrimario">
                <div class="col-12 col-xl-12 mt-4 mb-4 rrss">
                    <a href="https://www.facebook.com" target="_blank" ><img src="../img/fb.png" alt="icon facebook"></a>
                    <a href="https://www.instagram.com" target="_blank"><img src="../img/ig.png" alt="icon instagram"></a>
                    <a href="https://www.twitter.com" target="_blank"><img src="../img/tw.png" alt="icon twitter"></a>
                </div>
            </div>
            <div class="row footerSecundario">
                <div class="col-12 col-xl-12 mt-5 mb-5">
                    <p>© 2023 Todos los derechos reservados: HappyBeer! Choperas Artesanales</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>    
</body>
</html>
